.blogs .blog-items .read-more-cont {
 	display: none;
 }

 .popup-box {
 	position: fixed;
 	height: 100%;
 	width: 100%;
 	left: 0;
 	top: 0;
 	background-color: rgba(0, 0, 0, 0.5);
 	z-index: 500;
 	visibility: hidden;
 	opacity: 0;
 	transition: all 0.5s ease-in-out;
 }

 .popup-box.open {
 	visibility: visible;
 	opacity: 1;
 }

 .popup-box .popup-content {
 	background-color: #ffffff;
 	width: 600px;
 	position: absolute;
 	left: 50%;
 	top: 50%;
 	transform: translate(-50%, -50%);
 	border-radius: 8px;
 }

 .popup-box .popup-header {
 	padding: 15px 40px 15px 15px;
 	border-bottom: 1px solid #dddddd;
 }

 .popup-box .popup-header h3 {
 	margin: 0;
 	color: #E91E63;
 	font-size: 20px;
 }

 .popup-box .popup-header .popup-close-icon {
 	position: absolute;
 	height: 30px;
 	width: 30px;
 	text-align: center;
 	color: #555555;
 	font-size: 28px;
 	line-height: 30px;
 	right: 5px;
 	top: 5px;
 	cursor: pointer;
 }

 .popup-box .popup-body {
 	padding: 10px;
 	max-height: 300px;
 	overflow-y: auto;
 }


 .popup-box .popup-body p {
 	/* font-size: 16px; */
 	color: #555555;
 	margin: 0 0 15px;
 }

 .popup-box .popup-footer {
 	padding: 15px;
 	border-top: 1px solid #dddddd;
 	text-align: right;
 }


 /*responsive*/

 @media(max-width: 767px) {
 	.blogs .blog-items .item {
 		flex: 0 0 100%;
 		max-width: 100%;
 	}

 	.popup-box .popup-content {
 		width: calc(100% - 30px);
 	}
 }


.blog-btn-border {
	background: var(--bs-light) !important;
    border: 1px solid var(--bs-primary) !important;
    border-top: 0 !important;
	padding: 0;
	text-align: center;
	border-radius: 10px;
}
